DATABASE_URL=postgresql+psycopg://wealth_digest:wealth_digest@localhost:5432/wealth_digest
MODEL_NAME=sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2
NEWSDATA_API_KEY = "pub_7b378a6a29934e278f42b8b9916974af"
NEWSDATA_BASE_URL = "https://newsdata.io/api/1/news"
HF_HOME=/root/.cache/huggingface
GEMINI_API_KEY=chiave
OPENAI_API_KEY=api-key